.md-overlay {
    position: absolute;
    z-index: 20000;
    height: 100vh;
    width: 100vw;
    background-color: #191919bf;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-content {
    height: 500px;
    width: 500px;
}

.conv-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bar {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.show-bar {
    height: 68.59px;
}
